*{
  margin: 0px;
  padding: 0px;
}
body {
    background-color: rgba(32, 32, 32, 0.925);
  }
  
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu ul{
  list-style: none;
}
.dropdown ul ul{
  display: none;
}

.dropdown ul li:hover>ul{
  display: block;
}
.dropdown ul li{
  position: relative;
}
.dropdown ul ul {
  margin-left: 242px;
  margin-top: -33px;
  font-size: 15px;
  position: absolute;
  border-width: 2px;
  border-radius: 3px;
  border-color: black;
  background-color: white;

}

#navbarDropdownMenuLink{
  color: black;
}
.nav-link{
  color: black;
}
#home{
  font-size: 17px;
  font-weight: 500;
}
.dropdown-item:hover{
  font-weight: bold;
}
 