{%extends 'subjects/subjects_base.html'%}
{%load static%}
{% static 'Images' as ImageUrl%}
{%block content%}
{%for pdf in tt%}
<div class="card" style="width: 16rem;">
    <div class="card-body">
      <h5 class="card-title">{{pdf.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{pdf.subject}}-{{pdf.types}}</h6>
      <a href="{{pdf.uploadque.url}}" class="card-link">Timetable Link</a><br>
    </div>
</div>
{%endfor%}
{%for pdf in tut%}
<div class="card" style="width: 16rem;">
    <div class="card-body">
      <h5 class="card-title">{{pdf.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{pdf.subject}}-{{pdf.types}}</h6>
      <a href="{{pdf.uploadque.url}}" class="card-link">Tutorial Questions</a><br>
    </div>
</div>
{%endfor%}
{%endblock%}
{%block papers%}
{%if uni%}
<div class="university-qp">
  <h4 >Previous Year University Question Papers</h4>
  <ul class="list-group list-group-horizontal">
    {%for pdf in uni%}
      <li class="list-group-item"><a href="{{pdf.uploadque.url}}">{{pdf.year}}</a></li>
    {%endfor%}
  </ul>
</div>
<div class="university-sp">
  <h4 >Previous Year University Solution Papers</h4>
  <ul class="list-group list-group-horizontal">
    {%for pdf in uni%}
    <li class="list-group-item"><a href="{{pdf.uploadans.url}}">{{pdf.year}}</a></li>
    {%endfor%}
  </ul>
</div>
{%endif%}
{%if iat1%}
<div class="iat1-qp">
  <h4 >Previous Year IAT 1 Question Papers</h4>
  <ul class="list-group list-group-horizontal">
    {%for pdf in iat1%}
      <li class="list-group-item"><a href="{{pdf.uploadque.url}}">{{pdf.year}}</a></li>
    {%endfor%}
  </ul>
</div>
<div class="iat1-sp">
  <h4 >Previous Year IAT 1 Solution Papers</h4>
  <ul class="list-group list-group-horizontal">
    {%for pdf in iat1%}
    <li class="list-group-item"><a href="{{pdf.uploadans.url}}">{{pdf.year}}</a></li>
    {%endfor%}
  </ul>
</div>
{%endif%}
{%if iat2%}
<div class="iat2-qp">
  <h4 >Previous Year IAT 2 Question Papers</h4>
  <ul class="list-group list-group-horizontal">
    {%for pdf in iat2%}
      <li class="list-group-item"><a href="{{pdf.uploadque.url}}">{{pdf.year}}</a></li>
    {%endfor%}
  </ul>
</div>
<div class="iat2-sp">
  <h4 >Previous Year IAT 2 Solution Papers</h4>
  <ul class="list-group list-group-horizontal">
    {%for pdf in iat2%}
    <li class="list-group-item"><a href="{{pdf.uploadans.url}}">{{pdf.year}}</a></li>
    {%endfor%}
  </ul>
</div>
{%endif%}
{%if prelim%}
<div class="prelim-qp">
  <h4 >Previous Year Prelim Question Papers</h4>
  <ul class="list-group list-group-horizontal">
    {%for pdf in prelim%}
      <li class="list-group-item"><a href="{{pdf.uploadque.url}}">{{pdf.year}}</a></li>
    {%endfor%}
  </ul>
</div>
<div class="prelim-sp">
  <h4 >Previous Year Prelim Solution Papers</h4>
  <ul class="list-group list-group-horizontal">
    {%for pdf in prelim%}
    <li class="list-group-item"><a href="{{pdf.uploadans.url}}">{{pdf.year}}</a></li>
    {%endfor%}
  </ul>
</div>
{%endif%}
{%endblock%}
{%block Image%}url('{{ImageUrl}}/MECHANICS.jpg'){%endblock%}
{%block syllabus%}
<div class="syllabus">
  <h3 style="text-align: center; margin-top: 20px;">Syllabus</h3>
<div class="card" style="width: 16rem; margin-top: 15px;" >
  <div class="card-body">
    <h5 class="card-title">Syllabus</h5>
    <p class="card-text">Latest Mumbai University Syllabus</p>
    <a href="/media/Latest Syllabus 1_3.pdf" class="card-link">Syllabus</a>
  </div>
</div>
</div>

{%endblock%}
{%block imp_notes%}
<div class="imp_notes" >
  <h3 style="text-align: center; margin-top: 20px;">Important Notes</h3>
<div class="card" style="width: 16rem; margin-top: 15px;" >
  <div class="card-body">
    <h5 class="card-title">Important Notes</h5>
    <p class="card-text">Find important notes prepared by our expert faculty members here.</p>
    <a href="/media/E_Mechanics_Soln_Prelims_2019.pdf" class="card-link">Important Notes</a>
  </div>
</div>
</div>
{%endblock%}
{%block time_table%}
<div class="time_table" style="align-self: center;">
  <h3 style="text-align: center; margin-top: 20px;">Time Table</h3>
  <ul class="list-group list-group-horizontal" style= "margin-top: 15px;">
    <li class="list-group-item"><a href="/media/submission timetable.pdf">Assignment <br> Timetable</a></li>
    <li class="list-group-item"><a href="/media/TT_IAT_1_Jan_2020_29-1.pdf">IAT Timetable</a></li>
    <li class="list-group-item"><a href="/media/1T01831.pdf">Final Timetable</a></li>
  </ul>
</div>
{%endblock%}
{%block question_bank%}
<div class="question_bank" >
  <h3 style="text-align: center; margin-top: 20px;">Question Bank</h3>
<div class="card" style="width: 16rem; margin-top: 15px;" >
  <div class="card-body">
    <h5 class="card-title">Question Bank</h5>
    <p class="card-text">Find all the topic related questions here so you don't miss out on anything</p>
    <a href="/media/mech_tut_1.pdf" class="card-link">Question Bank</a>
  </div>
</div>
</div>
{%endblock%}
{%block practice_problems%}
<div class="practice_questions" >
  <h3 style="text-align: center; margin-top: 20px;">Practice Questions</h3>
<div class="card" style="width: 16rem; margin-top: 15px;" >
  <div class="card-body">
    <h5 class="card-title">Practice Questions</h5>
    <p class="card-text">Find our set of practice problems specially designed to boost tour score.</p>
    <a href="/media/mech_tut_5.pdf" class="card-link">Practice Questions</a>
  </div>
</div>
</div>
{%endblock%}