{%load static%}
{% static 'Images' as ImageUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us-SemBooster</title>
    <link rel="stylesheet" href="{% static 'aboutus.css'%}">
</head>
<body style="background-image: url('{{ImageUrl}}/background.jpg');">
        <div class="about-us">
            <h1>Know The Developers</h1>
            <div class="about-dev">
                <img src="{{ImageUrl}}/Varun.jpg" alt="" class="dev-img">
                <div class="dev-text">
                    <h3>Varun Anand Patkar</h3>
                    <p>First Year Student at St. Francis Institute of Technology. Like to code, learn new things and enjoy the world. Try to think out of the box and find efficient solutions to problems. I have made the backend of the website that you're using right now. Live And Keep Learning!!</p>
                </div>
            </div>
            <div class="about-dev">
                
                <div class="dev-text" style="float: left;">
                    <h3>Vedant Ritesh Pawar</h3>
                    <p>I'm a first year Undergrad student at St. Francis Institute of Technology, Borivali, Mumbai. I have started developing interest in coding as I'm from an IT background which helps me get exposure to the technical world.I have done some front end part of the website.I hope this website will help you a lot!! Thank you</p>
                </div>
                <img src="{{ImageUrl}}/vedant.jpg" alt="" class="dev-img">
            </div>
            <div class="about-dev" style="border: none;">
                <img src="{{ImageUrl}}/yash.jpg" alt="" class="dev-img">
                <div class="dev-text">
                    <h3>Yash Manoj Mahajan</h3>
                    <p>Student at St. Francis Institute of Technology. <br>"We evolve through learning. Our objective is to make all the learning material available at the ease of fingertips. So that students can practice at their own pace, first filling in gaps in their understanding and then accelerating their learning." </p>
                </div>
            </div>
        </div>
</body>
</html>