<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'feed-back.css'%}">
</head>
<body style="background-image: url('{{ImageUrl}}/background.jpg');">
   
    <div class="feedback">
        <h1>Feedback Form</h1>
        <form action="feedback" method="POST">
        <p>First Name</p>
        <input type="text"name="first_name" placeholder="First Name"><br>
        <p>Last name</p>
        <input type="text"name="last_name" placeholder="Last Name"><br>
        <p>Email</p>
        <input type="email"name="email" placeholder="Email"><br>
        <p>Message</p>
        <textarea id="message" name="phone" class="form-control" style="height: 150px" placeholder="Message"></textarea>
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>