{%load static%}
{% static 'Images' as ImageUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SemBooster</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mstyle.css'%}">
</head>
<body>
    
{%if messages%}
  <div class="alert alert-{{message.tags}}">
    {% for message in messages%}
      <h3>{{message}}</h3>
    {%endfor%}
  </div>
{%endif%}
<div class="content">


<!--Header-->
<header><section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a href="{%url 'home'%}" class="navbar-brand">
        <!-- Logo Image -->
        <img src="{{ImageUrl}}/engg_logo.gif" width="45" alt="" class="d-inline-block align-middle mr-2">
        <!-- Logo Text -->
        <span>SemBooster</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div></div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
              Subjects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subjects_maths'%}">Engineering Mathematics</a>
              <a class="dropdown-item" href="{% url 'subjects_physics'%}">Engineering Physics</a>
              <a class="dropdown-item" href="{% url 'subjects_chemistry'%}">Engineering Chemistry</a>
              <a class="dropdown-item" href="{% url 'subjects_mechanics'%}">Engineering Mechanics</a>
              <a class="dropdown-item" href="{% url 'subjects_bee'%}">Basic Electrical Engineering</a>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mcq'%}" style="color: black;">Practice Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutus'%}" style="color: black;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback'%}" style="color: black;">Feedback</a>
          </li>
          {%if user.is_authenticated%}
          <li class="nav-item"  id="login"><a href="#" id="hello">Hello, {{user.first_name}}</a></li>
          <li class="nav-item"  id="login"><a href="accounts/logout" id="logout">Logout</a></li>
          {%else%}
            <li class="nav-item"  id="login"><a href="accounts/login" id="login">Login</a></li>
            <li class="nav-item"><a class="btn btn-primary" href="accounts/register" role="button">Get Started</a></li>
          {%endif%}
        </ul>
      </div>
    </nav>
  </div>
  <marquee  scrollamount="3" class="announcement" bgcolor="black" onmousemove="stop()" onmouseout="start()">
    {%for announcement in announcements%}
      {%if announcement.upload%}
      <a href="{{announcement.upload.url}}">{{announcement.text}}</a>
      {%else%}
      <a href="#">{{announcement.text}}</a>
      {%endif%}
    {%endfor%}
  </marquee>
</section>
<!--Top image-->
</header>
    <div class="item2" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ImageUrl}}/thought.jpg');">
      <div class="top-text">
        <h1 >Your Path to Sucess</h1>
       <p style="font-size: 25px;">"One Stop Destination for your Semester."</p>
      </div>
    </div>
<!--Cards-->
    <main>
      <div class="heading">
        <h1>Learn on your schedule</h1>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Engineering Mathematics</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Engineering Physics</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="true">Engineering Chemistry</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="true">Engineering Mechanics</a>
            <a class="nav-link" id="v-pills-something-tab" data-toggle="pill" href="#v-pills-something" role="tab" aria-controls="v-pills-something" aria-selected="true">Basic Electrical Engineering</a>
          </div>
        </div>

        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <h3>Engineering Mathematics</h3>
              <div class="sub-card">
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Syllabus</h5>
                    <p class="card-text">Find the latest update in Mumbai University Syllabus here.</p>
                    <a href="{%url 'subjects_maths'%}" class="card-link">Syllabus</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Time Table</h5>
                    <p class="card-text">Find the End-Sem time table, IAT time table and Prelim Exam time table here</p>
                    <a href="/media/TT_IAT_1_Jan_2020_29-1.pdf" class="card-link">Time Table</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Papers</h5>
                    <p class="card-text">Find the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_maths'%}" class="card-link">Previous Year University Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Solutions</h5>
                    <p class="card-text">Find the Solution for the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_maths'%}" class="card-link">Previous Year University Solutions</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">IAT Question Papers</h5>
                    <p class="card-text">Find the Past Year College IAT Exam Question Papers here.</p>
                    <a href="{%url 'subjects_maths'%}" class="card-link">IAT Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Prelim Question Papers</h5>
                    <p class="card-text">Find the Past Year College Prelim Exam Question Papers here.</p>
                    <a href="{%url 'subjects_maths'%}" class="card-link">Prelim Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Important Notes</h5>
                    <p class="card-text">Find the important notes prepared by our Expert Faculty Members</p>
                    <a href="{%url 'subjects_maths'%}" class="card-link">Important Notes</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Question Bank</h5>
                    <p class="card-text">Find the tutorial questions, important questions and question bank to for better preparation here.</p>
                    <a href="{%url 'subjects_maths'%}" class="card-link">Question Bank</a>
                  </div>
                </div>
                  
              </div>
              

            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <h3>Engineering Physics</h3>
              <div class="sub-card">
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Syllabus</h5>
                    <p class="card-text">Find the latest update in Mumbai University Syllabus here.</p>
                    <a href="{%url 'subjects_physics'%}" class="card-link">Syllabus</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Time Table</h5>
                    <p class="card-text">Find the End-Sem time table, IAT time table and Prelim Exam time table here</p>
                    <a href="/media/TT_IAT_1_Jan_2020_29-1.pdf" class="card-link">Time Table</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Papers</h5>
                    <p class="card-text">Find the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_physics'%}" class="card-link">Previous Year University Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Solutions</h5>
                    <p class="card-text">Find the Solution for the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_physics'%}" class="card-link">Previous Year University Solutions</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">IAT Question Papers</h5>
                    <p class="card-text">Find the Past Year College IAT Exam Question Papers here.</p>
                    <a href="{%url 'subjects_physics'%}" class="card-link">IAT Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Prelim Question Papers</h5>
                    <p class="card-text">Find the Past Year College Prelim Exam Question Papers here.</p>
                    <a href="{%url 'subjects_physics'%}" class="card-link">Prelim Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Important Notes</h5>
                    <p class="card-text">Find the important notes prepared by our Expert Faculty Members</p>
                    <a href="{%url 'subjects_physics'%}" class="card-link">Important Notes</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Question Bank</h5>
                    <p class="card-text">Find the tutorial questions, important questions and question bank to for better preparation here.</p>
                    <a href="{%url 'subjects_physics'%}" class="card-link">Question Bank</a>
                  </div>
                </div>
                  
              </div>            
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <h3>Engineering Chemistry</h3>
              <div class="sub-card">
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Syllabus</h5>
                    <p class="card-text">Find the latest update in Mumbai University Syllabus here.</p>
                    <a href="{%url 'subjects_chemistry'%}" class="card-link">Syllabus</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Time Table</h5>
                    <p class="card-text">Find the End-Sem time table, IAT time table and Prelim Exam time table here</p>
                    <a href="/media/TT_IAT_1_Jan_2020_29-1.pdf" class="card-link">Time Table</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Papers</h5>
                    <p class="card-text">Find the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_chemistry'%}" class="card-link">Previous Year University Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Solutions</h5>
                    <p class="card-text">Find the Solution for the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_chemistry'%}" class="card-link">Previous Year University Solutions</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">IAT Question Papers</h5>
                    <p class="card-text">Find the Past Year College IAT Exam Question Papers here.</p>
                    <a href="{%url 'subjects_chemistry'%}" class="card-link">IAT Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Prelim Question Papers</h5>
                    <p class="card-text">Find the Past Year College Prelim Exam Question Papers here.</p>
                    <a href="{%url 'subjects_chemistry'%}" class="card-link">Prelim Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Important Notes</h5>
                    <p class="card-text">Find the important notes prepared by our Expert Faculty Members</p>
                    <a href="{%url 'subjects_chemistry'%}" class="card-link">Important Notes</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Question Bank</h5>
                    <p class="card-text">Find the tutorial questions, important questions and question bank to for better preparation here.</p>
                    <a href="{%url 'subjects_chemistry'%}" class="card-link">Question Bank</a>
                  </div>
                </div>
                  
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <h3>Engineering Mechanics</h3>
              <div class="sub-card">
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Syllabus</h5>
                    <p class="card-text">Find the latest update in Mumbai University Syllabus here.</p>
                    <a href="{%url 'subjects_mechanics'%}" class="card-link">Syllabus</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Time Table</h5>
                    <p class="card-text">Find the End-Sem time table, IAT time table and Prelim Exam time table here</p>
                    <a href="/media/TT_IAT_1_Jan_2020_29-1.pdf" class="card-link">Time Table</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Papers</h5>
                    <p class="card-text">Find the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_mechanics'%}" class="card-link">Previous Year University Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Solutions</h5>
                    <p class="card-text">Find the Solution for the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_mechanics'%}" class="card-link">Previous Year University Solutions</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">IAT Question Papers</h5>
                    <p class="card-text">Find the Past Year College IAT Exam Question Papers here.</p>
                    <a href="{%url 'subjects_mechanics'%}" class="card-link">IAT Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Prelim Question Papers</h5>
                    <p class="card-text">Find the Past Year College Prelim Exam Question Papers here.</p>
                    <a href="{%url 'subjects_mechanics'%}" class="card-link">Prelim Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Important Notes</h5>
                    <p class="card-text">Find the important notes prepared by our Expert Faculty Members</p>
                    <a href="{%url 'subjects_mechanics'%}" class="card-link">Important Notes</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Question Bank</h5>
                    <p class="card-text">Find the tutorial questions, important questions and question bank to for better preparation here.</p>
                    <a href="{%url 'subjects_mechanics'%}" class="card-link">Question Bank</a>
                  </div>
                </div>
                  
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-something" role="tabpanel" aria-labelledby="v-pills-something-tab">
              <h3>Basic Electrical Engineering</h3>
              <div class="sub-card">
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Syllabus</h5>
                    <p class="card-text">Find the latest update in Mumbai University Syllabus here.</p>
                    <a href="{%url 'subjects_bee'%}" class="card-link">Syllabus</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Time Table</h5>
                    <p class="card-text">Find the End-Sem time table, IAT time table and Prelim Exam time table here</p>
                    <a href="/media/TT_IAT_1_Jan_2020_29-1.pdf" class="card-link">Time Table</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Papers</h5>
                    <p class="card-text">Find the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_bee'%}" class="card-link">Previous Year University Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Previous Year University Solutions</h5>
                    <p class="card-text">Find the Solution for the Past Year Mumbai University Question Papers here.</p>
                    <a href="{%url 'subjects_bee'%}" class="card-link">Previous Year University Solutions</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">IAT Question Papers</h5>
                    <p class="card-text">Find the Past Year College IAT Exam Question Papers here.</p>
                    <a href="{%url 'subjects_bee'%}" class="card-link">IAT Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Prelim Question Papers</h5>
                    <p class="card-text">Find the Past Year College Prelim Exam Question Papers here.</p>
                    <a href="{%url 'subjects_bee'%}" class="card-link">Prelim Question Papers</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Important Notes</h5>
                    <p class="card-text">Find the important notes prepared by our Expert Faculty Members</p>
                    <a href="{%url 'subjects_bee'%}" class="card-link">Important Notes</a>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <div class="card-body">
                    <h5 class="card-title">Question Bank</h5>
                    <p class="card-text">Find the tutorial questions, important questions and question bank to for better preparation here.</p>
                    <a href="{%url 'subjects_bee'%}" class="card-link">Question Bank</a>
                  </div>
                </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </main> 
<!--Bottom-->
    <div class="item3" style="background-image: url('{{ImageUrl}}/bottom_bkgd.png');color: white;">
      <h1>Let's Get Started</h1>
      <p style="font-size: 20px; color: white;">Take the next step toward your personal and professional goals.</p>
      {%if user.is_authenticated%}
      {%else%}
        <a class="btn btn-primary btn-lg" href="accounts/register" role="button">Get Started</a>
      {%endif%}
    </div> 
  </div>
<!--Footer-->
  <footer>
    <h6><a href="{% url 'home'%}">SemBooster</a></h6>
    {%if user.is_authenticated%}
    {%else%}
      <h6><a href="accounts/login">Login</a></h6>
      <h6><a href="accounts/register">Register</a></h6>
    {%endif%}
    <h6><a href="{% url 'mcq'%}">Solve MCQs</a></h6>
    <h6><a href="{% url 'aboutus'%}">About Us</a></h6>
    <h6><a href="{% url 'feedback'%}">Feedback</a></h6>
  </footer>
  
<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>